:host {
    background-color: #fff;
    display: grid;
    flex-direction: column;
    border-left: 1px solid #d6dee6;
    align-items: center;
    justify-items: center;
    padding: 12px;
    transition: all .5s ease-in-out;

    .file-manager-preview-info {
        .file-manager-list-item-icon {
            margin: 12px;
            padding: 8px;
            border-radius: 10px;
            background-color: #eee;

            img {
                object-fit: cover;
                width: 100%;
                border-radius: 10px;
            }

            .bi {
                font-size: 62px;
            }
        }

        .file-manager-list-item-name {
            .file-manager-list-item-date {
                display: block;
                font-size: 12px;
            }
        }
    }

    .file-manager-preview-fotter {
        button {
            display: block;
            width: 100%;
        }
    }
}