<div class="file-manager-preview-info">
    <div class="file-manager-list-item-icon"><img [src]="selectedFile" /></div>
    <p class="file-manager-list-item-name text-center text-muted fw-bold">
        Imagem 1
        <span class="file-manager-list-item-date fw-normal">Criado em 24/Jul/2022</span>
    </p>
    <div class="file-manager-preview-footer">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Selecionar arquivo</button>
        </div>
    </div>
</div>