/* Style the buttons that are used to open and close the accordion panel */
:host {

    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    padding-left: 24px;
    width: 100%;
    display: block;

    .bi {
        font-size: 18px;
    }

    &.active {
        .file-manager-side-menu-item-label {}

        .file-manager-side-menu-item-content {
            display: block;
        }

        .file-manager-side-menu-item-label-arrow {
            transform: rotate(90deg) !important;

        }

    }

    .file-manager-side-menu-item-label {
        color: #fff;
        cursor: pointer;
        align-content: stretch;
        width: 100%;
        text-align: left;
        padding: 0 12px;
        display: flex;
        flex-direction: row;
        height: 40px;
        font-size: 14px;
        justify-content: flex-start;
        align-items: center;
        user-select: none;
        border-radius: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        p {
            margin: 0;
        }

        .file-manager-side-menu-item-label-folder {
            padding: 2px 4px;

            img {
                width: 20px;
            }
        }

        &:hover {
            //background-color: #f5f5f5;
        }

    }
}