<div class="row g-0">
    <div class="col">
        <button type="button" class="btn btn-outline-success btn-sm me-md-2" (click)="onClick('newFolder')"><i
                class="bi bi-folder-plus me-md-1"></i>
            Criar pasta</button>
        <button type="button" class="btn btn-outline-primary btn-sm not-focus" [class.force-focus]="menuState.sendfile"
            (click)="onClick('sendFile')"><i class="bi bi-upload me-md-1"></i>
            Enviar arquivo</button>
    </div>
    <div class="col">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search">
            <span class="input-group-text" id="search"><i class="bi bi-search"></i></span>
        </div>
    </div>
</div>