<div class="row g-0">
    <div class="col file-manager-buttons">
        <label type="button" class="btn btn-outline-secondary btn-border-2" placement="bottom" ngbTooltip="Atualizar"><i
                class="bi bi-arrow-clockwise"></i>
        </label>
        <label type="button" class="btn btn-outline-secondary btn-border-2" placement="bottom" ngbTooltip="Criar pasta"
            (click)="onCreateFolder.emit('newFolder')"><i class="bi bi-folder-plus "></i>
        </label>
        <label type="button" class="btn btn-outline-secondary btn-border-2" placement="bottom"
            ngbTooltip="Enviar arquivo" [class.force-focus]="state?.sendfile" (click)="onUpload.emit('sendFile')"><i
                class="bi bi-upload"></i>
        </label>
    </div>
    <div class="col">
        <div class="input-group input-group input-group-search">
            <input type="text" class="form-control " ngbAutofocus placeholder="Search files...." aria-label="Search"
                aria-describedby="search">
            <span class="input-group-text pointer" id="search"><i class="bi bi-search"></i></span>
        </div>
    </div>
</div>