<div class="container-fluid px-4">
    <div class="row justify-content-center">
        <div class="col-6 gx-5">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <i class="bi bi-folder-check"></i>
                    <p>Selecionar pasta</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Escolha a pasta para salvar os <cite title="Source Title">arquivos</cite>
                </figcaption>

            </figure>
            <div class="d-grid gap-2">
                <select class="form-select gap-2" aria-label="Default select example">
                    <option selected>Default</option>
                    <option value="1">Cursos</option>
                    <option value="2">Sessões</option>

                </select>
                <button class="btn btn-primary" (click)="onClick()" type="button">Avançar</button>
            </div>
        </div>
    </div>
</div>