:host {
    .scaffold {
        height: 700px;
        position: relative;
        width: 100%;
        overflow: hidden;
        display: block;
    }

    overflow: hidden;
    display: block;
    position: relative;
    height: 100%;

}