:host {
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;



    .file-manager-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-bottom: 1px solid #d6dee6;
        background-color: #fff;

        button {
            margin: 0 5px;
        }
    }

    .file-manager-body {
        position: relative;
        flex: 1 1 auto;
        background-color: #f5f5f5;
        display: grid;
        flex-direction: row;
        justify-content: center;
        padding: 16px;
        grid-template-columns: 1fr 1fr;

        .file-manager-crop-area {
            width: 50%;
            align-self: center;
            justify-self: center;


        }

        .file-manager-cropper-preview {
            padding: 16px 0;
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                width: 100%;
                border-radius: 10px;
            }
        }
    }

    .file-manager-footer {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #d6dee6;
        background-color: #fff;
        padding: 12px;


    }
}

::ng-deep {

    img.ngx-ic-source-image,
    .ngx-ic-move {
        border-radius: 10px;
    }

}