.viewer {
    background-color: #fff;
    height: 500px;
    width: 798px;
    display: block;
    margin: auto;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}