<div class="file-manager-list-upload text-center" [class.drop-active]="typeTargetHandle.drag" (click)="file.click()"
    *ngIf="typeTargetHandle.click || typeTargetHandle.drag">
    <h1 class="bi bi-cloud-upload link-primary"></h1>
    <input class="visually-hidden" type="file" #file (change)="fileBrowseHandler($event)" />
    <p>Arraste e solte ou <a href="#" class="link-primary fw-bold">escolher arquivo</a>
        <small class="text-size-warning"> o tamanho máximo do arquivo de upload: 100 MB.</small>
    </p>

</div>
<div class="file-manager-list-wrapper">
    <div class="file-manager-list-item">
        <div class="file-manager-list-item-icon">
            <h1 class="bi bi-filetype-pdf"></h1>
        </div>
        <p class="file-manager-list-item-name text-center text-muted">
            Assessment/RPT
            <span class="file-manager-list-item-date">Criado em 24/Jul/2022</span>
        </p>
    </div>
    <div class="file-manager-list-item" (click)="onClick(indexImage)"
        *ngFor="let item of [].constructor(30); let indexImage = index">
        <div class="file-manager-list-item-icon">
            <!-- <h1 class="bi bi-filetype-pdf"></h1> -->
            <img src="https://i.pravatar.cc/150?img={{indexImage+1}}" />
        </div>
        <p class="file-manager-list-item-name text-center text-muted">
            Imagem {{indexImage+1}}
            <span class="file-manager-list-item-date">Criado em 24/Jul/2022</span>
        </p>
    </div>
</div>