* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #20252c;
    font-family: 'Roboto', sans-serif;
}



.btn:focus,
.form-control:focus,
.btn-close:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
}

.rounded-md {
    border-radius: 12px;
}

.form-select:hover {
    cursor: pointer;
}

.force-focus {
    color: var(--bs-btn-hover-color) !important;
    background-color: var(--bs-btn-hover-bg) !important;
    border-color: var(--bs-btn-hover-border-color) !important;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow) !important;
}



::ng-deep {
    img.ngx-ic-source-image {
        margin: 0px auto;
    }
}

.modal-folder-create {

    .modal-header,
    .modal-footer {
        border: none !important;
    }
}